<table class="table table-sm table-hover list-items <%= sub_category ? "sub-categroy-table" : "" %>" data-category-id="<%= category.id %>">
  <thead>
    <%= render partial: 'categories/category_header', locals: { category: category, list: @list } %>
  </thead>
  <tbody id="items-for-category-<%= category.id %>">
    <%= render items if items %>
    <tr id="add-item-for-category-<%= category.id %>"
        data-controller="item-form"
        data-item-form-url-value="<%= list_items_path(@list) %>"
        data-item-form-category-id-value="<%= category.id %>"
        data-item-form-list-id-value="<%= @list.id %>">
      <td>
        <input type="text" class="form-control" placeholder="Add an item"
               data-item-form-target="nameInput"
               data-action="keydown->item-form#submit">
      </td>
      <td><input class="form-control claim-quantity-input qty-cell" type="number" value="1"
                 data-item-form-target="quantityInput"
                 data-action="keydown->item-form#submit"></td>
      <td class="table-actions"></td>
    </tr>
  </tbody>
</table>
