<h3>My Wish List</h3>
<div class="row">
  <div class="col-md-8">
    <% @categories.each do |category| %>
      <%= render partial: 'lists/category_group', locals: { category: category, items: @grouped_items[category.id], sub_category: false } %>

      <% @sub_categories[category.id]&.each do |sub_category| %>
        <%= render partial: 'lists/category_group', locals: { category: sub_category, items: @grouped_items[sub_category.id], sub_category: true } %>
      <% end %>

      <%= link_to "Create Sub-Category", new_category_path(parent_category_id: category.id), class: "create-sub-category" %>
      <br />
    <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <%= link_to "Create Category", new_category_path %>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <%= link_to "Remove Claimed", list_remove_claimed_path(current_user.id), method: :patch %>
  </div>
</div>
<table id="item-template" class="hidden">
  <tbody>
    <%= render partial: 'items/item', locals: { item: Item.new } %>
  </tbody>
</table>
