<% if @unclaimed_items_by_category.empty? && @claimed_items_by_category.empty? %>
  Nothing has been added to the wish list yet.
<% else %>
  <div class="row">
    <div class="col-md-8">
      <% if @unclaimed_items_by_category.empty? %>
        Nothing is available to claim on the wish list.
      <% else %>
        <h3>Available Items</h3>
        <table id="claimable-items" class="table table-condensed table-hover">
          <tbody>
          <% @unclaimed_items_by_category.each do |category| %>
            <tr>
              <td colspan="2"><h4><%= category.name %></h4></td>
            </tr>
            <% category.items.each do |item| %>
              <tr id="item-<%= item.id %>">
                <%= form_for(ItemClaim.new(item: item)) do |f| %>
                  <%= f.hidden_field :item_id %>
                  <td><%= item.name %></td>
                  <td class="text-right"><%= f.submit 'Claim', class: 'btn btn-default btn-xs' %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @claimed_items_by_category.present? %>
        <h3>Claimed Items</h3>
        <table id="claimed-items" class="table table-condensed table-hover">
          <tbody>
          <% @claimed_items_by_category.each do |category| %>
            <tr>
              <td colspan="2"><h4><%= category.name %></h4></td>
            </tr>
            <% category.items.each do |item| %>
              <tr id="item-<%= item.id %>">
                <td><%= item.name %></td>
                <td class="text-right">
                  <% if item.deleted_at.blank? && item.item_claim.user == current_user %>
                    <%= link_to 'Unclaim', item_claim_path(item.item_claim), class: 'btn btn-danger btn-xs', method: :delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
