<h2 class="list-name"><%= @user.name %></h2>

<% if @unclaimed_items_by_category.empty? && @claimed_items_by_category.empty? %>
  Nothing has been added to the wish list yet.
<% else %>
  <div class="row">
    <div class="col-md-8">
      <% if @unclaimed_items_by_category.empty? %>
        Nothing is available to claim on the wish list.
      <% else %>
        <h3>Available Items</h3>
        <table id="claimable-items" class="table table-condensed table-hover">
          <tbody>
          <% @unclaimed_items_by_category.each do |category| %>
            <tr>
              <td><h4><%= category.name %></h4></td>
              <td class="qty-heading">Qty</td>
              <td class="claim-cell"></td>
            </tr>
            <% category.items.each do |item| %>
              <tr id="item-<%= item.id %>">
                <%= form_for(ItemClaim.new(item: item)) do |f| %>
                  <%= f.hidden_field :item_id %>
                  <td><%= item.name %></td>
                  <td class="grey"><%= item.quantity %></td>
                  <% if item.quantity.present? %>
                    <td class="text-right claim-cell">
                      <div>
                        <% if item.quantity > item.claimed_quantity %>
                          <%= f.number_field :quantity, min: 1, max: (item.quantity - item.claimed_quantity), class: "form-control claim-quantity-input" %>
                        <% end %>
                        <%= f.submit 'Claim', class: 'btn btn-default btn-xs' %>
                      </div>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @claimed_items_by_category.present? %>
        <h3>Claimed Items</h3>
        <table id="claimed-items" class="table table-condensed table-hover">
          <tbody>
          <% @claimed_items_by_category.each do |category| %>
            <tr>
              <td><h4><%= category.name %></h4></td>
              <td class="qty-heading">Qty</td>
              <td class="claim-cell"></td>
            </tr>
            <% category.items.each do |item| %>
              <% user_claim = claim = item.item_claims.detect { |ic| ic.user == current_user } %>
              <tr id="item-<%= item.id %>">
                <td><%= item.name %></td>
                <td><%= item.item_claims.map(&:quantity).sum %><small class="grey">/<%= item.quantity %></small></td>
                <td class="claim-cell text-right">
                  <% if item.deleted_at.blank? && user_claim.present? %>
                    <%= link_to 'Unclaim', item_claim_path(claim), class: 'btn btn-danger btn-xs', method: :delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% if @recently_deleted_items.present? %>
  <div class="row">
    <div class="col-md-8">
      <h4>Recently Removed Items</h4>
        <table id="recently-delete-items" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Item</th>
            </tr>
          </thead>
          <tbody>
          <% @recently_deleted_items.each do |item| %>
            <tr id="item-<%= item.id %>">
              <td><%= item.category.name %></td>
              <td><%= item.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
<% end %>
