<tr id="<%= dom_id(item) %>"
    data-controller="inline-edit"
    data-inline-edit-url-value="<%= item_path(item) %>"
    data-inline-edit-param-key-value="item">
  <td class="item-row">
    <span data-inline-edit-target="show"><%= item.name %></span>
    <input data-inline-edit-target="edit nameInput"
           data-action="keydown->inline-edit#saveOnEnter"
           class="form-control" type="text" value="<%= item.name %>" hidden>
  </td>
  <td class="quantity qty-cell">
    <span data-inline-edit-target="show"><%= item.quantity %></span>
    <input data-inline-edit-target="edit quantityInput"
           data-action="keydown->inline-edit#saveOnEnter"
           class="form-control" type="number" value="<%= item.quantity %>" hidden>
  </td>
  <td class="text-end table-actions">
    <a data-inline-edit-target="show" data-action="click->inline-edit#edit" title="Edit">
      <%= image_tag "icons/pencil.svg", alt: "Edit" %>
    </a>
    <a data-inline-edit-target="show"
       href="<%= item_path(item) %>"
       data-turbo-method="delete"
       data-turbo-confirm="Are you sure?"
       title="Delete">
      <%= image_tag "icons/trash.svg", alt: "Delete" %>
    </a>
    <a data-inline-edit-target="show" href="<%= edit_item_path(item) %>" title="Move">
      <%= image_tag "icons/arrows_left_right.svg", alt: "Move/Edit" %>
    </a>
    <a data-inline-edit-target="edit" data-action="click->inline-edit#save" class="text-muted" hidden>Save</a>
    <span data-inline-edit-target="edit" class="text-muted" hidden>|</span>
    <a data-inline-edit-target="edit" data-action="click->inline-edit#cancel" class="text-muted" hidden>Cancel</a>
  </td>
</tr>
