<tr class="category-row" id="<%= dom_id(category) %>"
    data-controller="inline-edit"
    data-inline-edit-url-value="<%= list_category_path(list, category) %>"
    data-inline-edit-param-key-value="category">
  <th>
    <span data-inline-edit-target="show"><%= category.name %></span>
    <input data-inline-edit-target="edit nameInput"
           data-action="keydown->inline-edit#saveOnEnter"
           class="form-control" type="text" value="<%= category.name %>" hidden>
  </th>
  <th class="quantity-header qty-heading qty-cell">
    QTY
  </th>
  <th class="text-end table-actions">
    <a data-inline-edit-target="show" data-action="click->inline-edit#edit" title="Edit">
      <%= image_tag "icons/pencil.svg", alt: "Edit" %>
    </a>
    <a data-inline-edit-target="show"
       data-controller="category-remove"
       data-category-remove-category-id-value="<%= category.id %>"
       data-action="click->category-remove#confirm"
       data-turbo-method="delete"
       href="<%= list_category_path(list, category) %>"
       rel="nofollow" title="Delete">
      <%= image_tag "icons/trash.svg", alt: "Delete" %>
    </a>
    <a data-inline-edit-target="show" href="<%= edit_category_path(category) %>" title="Move">
      <%= image_tag "icons/arrows_left_right.svg", alt: "Move/Edit" %>
    </a>
    <a data-inline-edit-target="edit" data-action="click->inline-edit#save" class="text-muted" hidden>Save</a>
    <span data-inline-edit-target="edit" class="text-muted" hidden>|</span>
    <a data-inline-edit-target="edit" data-action="click->inline-edit#cancel" class="text-muted" hidden>Cancel</a>
  </th>
</tr>
