<h2 class="list-name"><%= @list.name %></h2>

<% if @claimed.empty? && @unclaimed.empty? %>
  Nothing has been added to the wish list yet.
<% else %>
  <div class="row">
    <div class="col-md-8">
      <% if @unclaimed.empty? %>
        Nothing is available to claim on the wish list.
      <% else %>
        <h3>Available Items</h3>
        <table id="claimable-items" class="table table-condensed table-hover">
          <tbody>
          <% @unclaimed.each do |(category_id, category_name), category_details| %>
            <%= render partial: 'items/table_header', locals: { category_id:, category_name:, has_items: category_details[:items].present?, sub_category: false } %>
            <% category_details[:items].each do |item|%>
              <%= render partial: 'items/item_row', locals: { item: item, sub_category: false } %>
            <% end %>
            <% category_details[:sub_categories].each do |(sub_category_id, sub_category_name), items| %>
              <%= render partial: 'items/table_header', locals: { category_id: sub_category_id, category_name: sub_category_name, has_items: items.present?, sub_category: true } %>
              <% items.each do |item| %>
                <%= render partial: 'items/item_row', locals: { item: item, sub_category: true } %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @claimed.present? %>
        <h3>Claimed Items</h3>
        <table id="claimed-items" class="table table-condensed table-hover">
          <tbody>
          <% @claimed.each do |(category_id, category_name), category_details| %>
            <%= render partial: 'items/table_header', locals: { category_id:, category_name:, has_items: category_details[:items].present?, sub_category: false } %>
            <% category_details[:items]&.each do |item| %>
              <tr id="item-<%= item.id %>">
                <td colspan="2"><%= item.name %></td>
                <td><%= item.total_claimed_quantity.to_i %><small class="grey">/<%= item.quantity || '-' %></small></td>
                <td class="claim-cell text-right">
                  <% if item.user_claimed_quantity.positive? %>
                    <% item_claim_id = item.claimed_ids.first %>
                    <%= link_to 'Edit', edit_item_claim_path(item_claim_id), class: 'btn btn-primary btn-xs' %>
                    <%= link_to 'Unclaim', item_claim_path(item_claim_id), class: 'btn btn-danger btn-xs', method: :delete %>
                  <% end %>
                </td>
              </tr>
              <%= render partial: 'items/claim_notes', locals: { item: item, sub_category: false } if item.claim_notes.compact.present? %>
            <% end %>
            <% category_details[:sub_categories].each do |(sub_category_id, sub_category_name), items| %>
              <%= render partial: 'items/table_header', locals: { category_id: sub_category_id, category_name: sub_category_name, has_items: items.present?, sub_category: true } %>
              <% items&.each do |item| %>
                <% next if item.claimed_ids.nil? %>
                <% item_claim_id = item.claimed_ids.first %>
                <tr id="item-<%= item.id %>">
                  <td class="sub-category-indent"></td>
                  <td><%= item.name %></td>
                  <td><%= item.total_claimed_quantity.to_i %><small class="grey">/<%= item.quantity || '-' %></small></td>
                  <td class="claim-cell text-right">
                    <% if item.user_claimed_quantity.positive? %>
                      <% item_claim_id = item.claimed_ids.first %>
                      <%= link_to 'Edit', edit_item_claim_path(item_claim_id), class: 'btn btn-primary btn-xs' %>
                      <%= link_to 'Unclaim', item_claim_path(item_claim_id), class: 'btn btn-danger btn-xs', method: :delete %>
                    <% end %>
                  </td>
                </tr>
                <%= render partial: 'items/claim_notes', locals: { item: item, sub_category: true } if item.claim_notes.compact.present? %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% if @recently_deleted_items.present? %>
  <div class="row">
    <div class="col-md-8">
      <h4>Recently Removed Items</h4>
        <table id="recently-delete-items" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Item</th>
            </tr>
          </thead>
          <tbody>
          <% @recently_deleted_items.each do |item| %>
            <tr id="item-<%= item.id %>">
              <td><%= item.category.name %></td>
              <td><%= item.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
<% end %>
